.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  padding: 5px 15px;
  border: 1px solid #fff
}

ul li a {
  text-decoration: none;
  color: #fff
}